@{
    ViewBag.Title = "About Megan";
}
<h2>@ViewBag.Title.</h2>

<p>Megan is a senior at Ohio University studying MIS and Business Analytics. She is involved in many different things on campus such as AIS TA Coordinator, ISAP President, and AKPsi Pulic Relations Committe Head. </p>
