@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Address<br />
    Youngstwon, Ohio 44514<br />
    <abbr title="Phone">P:</abbr>
    330.501.7954
</address>

<address>
   
</address>