@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MEGAN!</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            General Background
        </h2>
        <p>
            Megan was born in Pittsburgh, Pennsylvania then her family moved to Youngstown, Ohio shortly after she was born. Megan grew up in a small suburb outside of the city, called Poland. She went to the local elementary school then the local high school. She always wanted to move away from her small town and become more independent. When looking at colleges, Ohio University was at the top of her list. She had no idea' what she wanted to do but she knew she wanted to get far away from her small town... and she picked an even smaller town.
        </p>

    </div>
    <div class="col-md-4">
        <h2>
            College Career
        </h2>
        <p>Megan started her career at Ohio University as business undecided and changed her major a lot of times. Going through the business curriculum, she was very unexcited about her general classes. She knew she wanted to stay in business because there are so many path she could take but she wasn't sure where to go from there. Ultimately Megan took her first QBA and MIS classes and knew she found her perfect fit. After finding majors she was passionate about, she decided to fully get involved in the majors organizational efforts.</p>
    </div>

    <div class="col-md-4">
        <h2>
            Future Plans
        </h2>
        <p>
            Megan had an internship at Nationwide Mutual Insurance this past summer as a Requirements Analyst. She has since decided that she would like to go a different way in her career and look into IT consulting. Megan is currently on the job search and is looking at multiple companies. She hopes to end up in Columbus, Chicago, or Charolette.

            <h2>
                Links
            </h2>
        <p>
            @Html.ActionLink("Courses", "Index", "Courses")<br />

            @Html.ActionLink("Students", "Index", "Students")<br />
            @Html.ActionLink("Professors", "Index", "Professors")<br />
            @Html.ActionLink("CourseDetails", "Index", "CourseDetails")<br />
        </p>

        </p>

    </div>
   
</div>